version: "2"
services:
  nginx:
    container_name: nginx
    image: nginx:latest
    volumes:
      - ./server:/home/app/server
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "9090:80"
    links:
      - php
    labels:
      traefik.enable: true
      traefik.http.routers.client.rule: Host(`bicycle.localhost`)
      traefik.docker.network: backend
      traefik.http.services.client.loadbalancer.server.port: 9090

  php:
    container_name: php
    build:
      dockerfile: ./Dockerfile
    volumes:
      - ./server:/home/app/server
    working_dir: /home/app/server
    extra_hosts:
      - "host.docker.internal:host-gateway"

  traefik:
    image: "traefik:latest"
    container_name: "traefik"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    command:
      - "--api.insecure=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker=true"
      - "--providers.docker.network=backend"
    ports:
      - "80:80"
    networks:
      - backend
    labels:
      traefik.enable: true
      traefik.http.routers.traefik.rule: Host(`traefik.localhost`)
      traefik.http.services.traefik.loadbalancer.server.port: 8080

networks:
  backend:
    name: backend